<ul class="nav navbar-nav ml-auto">
                <li class="dropdown active">
                    <a routerLink="dashboard">Home</a>
                </li>
                <li class="dropdown">
                    <a routerLink="dashboard">About us</a>
                </li>
                <li class="dropdown use-yamm yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="assets/img/template-easy-customize.png" class="img-responsive hidden-xs" alt="">
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Shortcodes</h5>
                                        <ul>
                                            <li>
                                                <a href="template-accordions.html">Accordions</a>
                                            </li>
                                            <li>
                                                <a href="template-alerts.html">Alerts</a>
                                            </li>
                                            <li>
                                                <a href="template-buttons.html">Buttons</a>
                                            </li>
                                            <li>
                                                <a href="template-content-boxes.html">Content boxes</a>
                                            </li>
                                            <li>
                                                <a href="template-blocks.html">Horizontal blocks</a>
                                            </li>
                                            <li>
                                                <a href="template-pagination.html">Pagination</a>
                                            </li>
                                            <li>
                                                <a href="template-tabs.html">Tabs</a>
                                            </li>
                                            <li>
                                                <a href="template-typography.html">Typography</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Header variations</h5>
                                        <ul>
                                            <li>
                                                <a href="template-header-default.html">Default sticky header</a>
                                            </li>
                                            <li>
                                                <a href="template-header-nosticky.html">No sticky header</a>
                                            </li>
                                            <li>
                                                <a href="template-header-light.html">Light header</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown use-yamm yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="assets/img/template-homepage.png" class="img-responsive hidden-xs" alt="">
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Portfolio</h5>
                                        <ul>
                                            <li>
                                                <a href="portfolio-2.html">2 columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-no-space-2.html">2 columns with negative space</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-3.html">3 columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-no-space-3.html">3 columns with negative space</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-4.html">4 columns</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-no-space-4.html">4 columns with negative space</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-detail.html">Portfolio - detail</a>
                                            </li>
                                            <li>
                                                <a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>About</h5>
                                        <ul>
                                            <li>
                                                <a href="about.html">About us</a>
                                            </li>
                                            <li>
                                                <a href="team.html">Our team</a>
                                            </li>
                                            <li>
                                                <a href="team-member.html">Team member</a>
                                            </li>
                                            <li>
                                                <a href="services.html">Services</a>
                                            </li>
                                        </ul>
                                        <h5>Marketing</h5>
                                        <ul>
                                            <li>
                                                <a href="packages.html">Packages</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a routerLink="dashboard">Portfolio</a>
                </li>
                <li class="dropdown">
                    <a routerLink="dashboard">Contact us</a>
                </li>
            </ul>