<!-- FOOTER -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4 class="h6">About Us</h4>
                <p>Established in the year 2001, at Navi Mumbai, Maharashtra, India, we “Al Med Equipments,” are leading manufacturers of Medical equipment.</p>
                <hr>
                <h4 class="h6">Join Our Monthly Newsletter</h4>
                <form>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
                    </div>
                </div>
                </form>
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-4">
                <h4 class="h6 text-center">Site Map</h4>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled footer-blog-list">
                            <li class="d-flex align-items-center">
                                <a routerLink="/about-us"><i class="fa fa-anchor"></i> About us</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="contact-us"><i class="fa fa-anchor"></i> Contact us</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/products"><i class="fa fa-anchor"></i> Products</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/services"><i class="fa fa-anchor"></i> Services</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/portfolio"><i class="fa fa-anchor"></i> Portfolio</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/support"><i class="fa fa-anchor"></i> Support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled footer-blog-list">
                            <li class="d-flex align-items-center">
                                <a routerLink="/faq"><i class="fa fa-anchor"></i> FAQ</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/news"><i class="fa fa-anchor"></i> News</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/events"><i class="fa fa-anchor"></i> Events</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/campaign"><i class="fa fa-anchor"></i> Campaign</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/offer"><i class="fa fa-anchor"></i> Offers</a>
                            </li>
                            <li class="d-flex align-items-center">
                                <a routerLink="/blog"><i class="fa fa-anchor"></i> Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <hr class="d-block d-lg-none">
            </div>
            <div class="col-lg-3">
                <h4 class="h6">Contact</h4>
                <p class="text-uppercase">
                    <strong>Almed Equipment</strong><br>
                    Nerul, Navi Mumbai, <br>Maharashtra, India 
                </p>
                <a routerLink="/contact-us" class="btn btn-template-main">Go to contact page</a>
                <hr class="d-block d-lg-none">
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center-md">
            <p>&copy; 2018. Almed Equipment</p>
            </div>
            <div class="col-lg-8 text-right text-center-md">
            <p>Template design by <a routerLink="/">Ushaikh</a></p>
            </div>
        </div>
        </div>
    </div>
</footer>