<div class="container">

  <!-- THE YOUTUBE PLAYER -->
  <div class="vid-container">
    <!-- <iframe id="vid_frame" src="http://www.youtube.com/embed/eg6kNoJmzkY?rel=0&showinfo=0&autohide=1" frameborder="0" width="560" height="315"></iframe> -->
    <iframe id="vid_frame" width="560" height="315" src="https://www.youtube.com/embed/MqTXWAxCocI?rel=0&showinfo=0&autohide=1"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <!-- THE PLAYLIST -->
  <div class="vid-list-container">
    <div class="vid-list">

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/MqTXWAxCoc?rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/MqTXWAxCocI/0.jpg">
        </div>
        <div class="desc">Interview of Mr.Zakir Hussain</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/7yTbFvXKD78?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/7yTbFvXKD78/0.jpg">
        </div>
        <div class="desc">Almed Equipments presentation final</div>
      </div>
      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/ssveTKFyrMo?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/ssveTKFyrMo/0.jpg">
        </div>
        <div class="desc">Almed Equipments introductions</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/m_oP7nbgwxk?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/m_oP7nbgwxk/0.jpg">
        </div>
        <div class="desc">Almed Equipment: class I air Quality on operation theatre with Ductless Laminar air flow, part-1</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/hUmPheZFQE0?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/hUmPheZFQE0/0.jpg">
        </div>
        <div class="desc">Almed Equipment: class I air Quality on operation theatre with Ductless Laminar air flow, part-2</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/cX7y_R0C3mM?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/cX7y_R0C3mM/0.jpg">
        </div>
        <div class="desc">Innovative & practical solutions for infection control</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/CmmQjcVbD2U?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/CmmQjcVbD2U/0.jpg">
        </div>
        <div class="desc">Air flow pattern with ductless Air Handling unit in wall to Laminar air flow in ceiling by AL-MED EQ</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/mho3jGkPEN0?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/mho3jGkPEN0/0.jpg">
        </div>
        <div class="desc">NABH - Surgical Site Infection SSI Prevention</div>
      </div>

      <div class="vid-item" onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/6R_odksmsZo?autoplay=1&rel=0&showinfo=0&autohide=1'">
        <div class="thumb">
          <img src="https://img.youtube.com/vi/6R_odksmsZo/0.jpg">
        </div>
        <div class="desc">Causes & prevention of surgical site infections</div>
      </div>

    </div>
  </div>

  <!-- LEFT AND RIGHT ARROWS -->
  <div class="arrows">
    <div class="arrow-left">
      <i class="fa fa-chevron-left fa-lg"></i>
    </div>
    <div class="arrow-right">
      <i class="fa fa-chevron-right fa-lg"></i>
    </div>
  </div>

</div>