<!-- Home carousel -->
<section class="bar background-white relative-positioned dashboard-carousel">
    <div class="container">
        <!-- Carousel Start-->
        <div class="home-carousel">
            <div class="dark-mask mask-primary"></div>
            <style>
                ol .carousel-indicators{
                    bottom: -35px !important;
                }
            </style>
            <carousel [interval]="5000">
                <slide>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <!-- <p><img src="assets/img/almed-logo-small.png" alt="" class="ml-auto"></p> -->
                            <h1>Innovative Solution for SSI</h1>
                            <p>Infection at or near surgical incisions within 30 days of an operative procedure contributes substantially to surgical morbidity and mortality each year</p>
                        </div>
                        <div class="col-md-6 text-center"><img src="assets/img/carousel/home-slide1.png" alt="" class="img-fluid image-wrap image-shadow"></div>
                    </div>
                </slide>
                <slide>
                    <div class="row">
                        <div class="col-md-6 text-center"><img src="assets/img/carousel/home-slide2.png" alt="" class="img-fluid image-wrap image-shadow"></div>
                        <div class="col-md-6">
                            <h2>Source of Surgical site infections</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-times-rectangle-o warnign-check-color"></i> Window & slite AC should be used</li>
                                <li><i class="fa fa-times-rectangle-o warnign-check-color"></i> Duct is breeding ground for bacteria, fungus, mauld & virus</li>
                                <li><i class="fa fa-times-rectangle-o warnign-check-color"></i> Hospitality bugs kills more than cars</li>
                                <li><i class="fa fa-check-square-o ok-check-color"></i> NABH given guideline for controlling the infection in OT</li>
                            </ul>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="row">
                        <div class="col-md-6 text-center"><img src="assets/img/carousel/home-slide3.png" alt="" class="img-fluid image-wrap image-shadow"></div>
                        <div class="col-md-5">
                            <h1>Magical Disinfectant</h1>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check-square-o ok-check-color"></i>Elegant product of almed</li>
                                <li><i class="fa fa-check-square-o ok-check-color"></i>Clean stink smell</li>
                                <li><i class="fa fa-check-square-o ok-check-color"></i>Distroy bacteria</li>
                                <li><i class="fa fa-check-square-o ok-check-color"></i>Control air born infection</li>
                            </ul>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="row">
                        <div class="col-md-5">
                            <h1>Air Flow Circulation Pattern</h1>
                            <p>Ductless Laminar Air Flow & Positive Pressure System with AC. Ozon producing UV Light given to avoid growth of the bacteria, fungus etc on HEPA filter</p>
                        </div>
                        <div class="col-md-6 text-center"><img src="assets/img/carousel/home-slide4.png" alt="" class="img-fluid image-wrap image-shadow"></div>
                    </div>
                </slide>
            </carousel>
        </div>
      <!-- Carousel End-->
    </div>
</section>
<!-- /.bar -->

<!-- Product section -->
<section class="bg-white bar">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Innovative Products</h2>
        </div>
        <p class="lead">
            Browse the comprehensive range of medical equipment, surgical instruments & hospital products manufactured by Almed Equipment
            <span class="accent">Check our products!</span>
        </p>
        <div class="row">
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image text-center">
                        <img src="assets/img/products/o3-gen.png" alt="o3 gen" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a routerLink="/products" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">O3 Gen Magical Disinfectant</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Go for the unique solution to improve the quality of air inside operation theater, special rooms, hotel & resort etc.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                <div class="image text-center">
                        <img src="assets/img/products/surgeon-control-panel.gif" alt="surgeon-control-panel" class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><a routerLink="/products" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                </div>
                <div class="text">
                    <h4><a href="#">Surgeon Control Panel</a></h4>
                    <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                    <p class="intro">One of the most useful things for Operation theater, which can be build to control operation theater's activity. Its main feature is that it can be operated using android app from mobile device. </p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image text-center">
                        <img src="assets/img/products/positive-pressure-system.jpg" alt="positive-pressure-system" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a routerLink="/products" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">PPS with air conditioning</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Main the positive pressure as per NABH.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="home-blog-post">
                    <div class="image text-center">
                        <img src="assets/img/products/shoe-wrapper-machine.jpg" alt="shoe-wrapper-machine" class="img-fluid">
                        <div class="overlay d-flex align-items-center justify-content-center"><a routerLink="/products" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
                    </div>
                    <div class="text">
                        <h4><a href="#">Shoes Wrapper Machine</a></h4>
                        <p class="author-category">Brand <a href="#">Almed Equipment</a></p>
                        <p class="intro">Wrapp the shoes using machine, plastic wrapper are also available.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Service section -->
<section class="bar background-white">
    <div class="container text-center">
        <div class="heading text-center">
            <h2>Our Main Focus</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
                <h3 class="h4">Modular OT</h3>
                <p>Supplier & Manufacturer of Operation Theatre Equipments & LED Operation Theatre Lights</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-print"></i></div>
                <h3 class="h4">Oxygen Genrator Plant</h3>
                <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box-simple">
                <div class="icon-outlined"><i class="fa fa-globe"></i></div>
                <h3 class="h4">Epoxy Services</h3>
                <p>Our expertise are available to help for expoxy flooring. We have given best service to several clients and received positive feedback of our work    from them </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Video and achivements collections -->
<section style="background: url(assets/img/texture-turquoise.png) center top no-repeat; background-size: cover;" class="bar no-mb bg-fixed relative-positioned">
    <div class="video container">
        <div class="heading text-center">
            <h2>Collections</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <accordion [closeOthers]="oneAtATime">
                    <accordion-group heading="Videos" [isOpen]="true" [panelClass]="customClass">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-video-list></app-video-list>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Achievements">
                        <div class="card-body">
                            <div class="container">
                                <section class="bar">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="lead">Our company get the awards and certificates on the behalf of valuable services, dedication towards the medical sector. Mr. Zakir Shaikh as a esteemated speaker whose participating into conferences, exhibitions to spread his knowledge.</p>
                                        </div>
                                    </div>
                                  <div class="row portfolio text-center">
                                    <div class="col-md-4">
                                     
                                        <div class="box-image">
                                        <div class="image"><img src="assets/img/achievements/1.jpg" alt="" class="img-fluid">
                                          <div class="overlay d-flex align-items-center justify-content-center">
                                            <div class="content">
                                              <div class="name">
                                                <h3><a href="javascript:void()" class="color-white">8th MT HEALTHCARE AWARDS</a></h3>
                                              </div>
                                              <div class="text">
                                                <p class="d-none d-sm-block">For Meaningful services and dedication to the the healthcare sector</p>
                                                <p class="buttons"><a href="javascript:void()" class="btn btn-template-outlined-white">2018</a></p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="box-image">
                                        <div class="image"><img src="assets/img/achievements/2.jpg" alt="" class="img-fluid">
                                          <div class="overlay d-flex align-items-center justify-content-center">
                                            <div class="content">
                                              <div class="name">
                                                <h3><a href="javascript:void()" class="color-white">MEDGATE TODAY MAGZINE</a></h3>
                                              </div>
                                              <div class="text">
                                                <p class="d-none d-sm-block">For innovative solutions of infections control in modular OT</p>
                                                <p class="buttons"><a href="javascript:void()" class="btn btn-template-outlined-white">2018</a></p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="box-image">
                                        <div class="image"><img src="assets/img/achievements/3.jpg" alt="" class="img-fluid">
                                          <div class="overlay d-flex align-items-center justify-content-center">
                                            <div class="content">
                                              <div class="name">
                                                <h3><a href="javascript:void()" class="color-white">VOH 2ND INTERNATIONAL CONFERENCE</a></h3>
                                              </div>
                                              <div class="text">
                                                <p class="d-none d-sm-block">For sharing valuable knowledge as a esteemated speaker</p>
                                                <p class="buttons"><a href="javascript:void()" class="btn btn-template-outlined-white">2018</a></p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                            </div>              
                        </div>
                    </accordion-group>
                    <accordion-group heading="FAQ">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><b>Q: Question 1 </b></li>
                                <li><b>A:</b> Answer 1</li>
                                <li><b>Q: Question 2 </b></li>
                                <li><b>A:</b> Answer 2</li>
                                <li><b>Q: Question 3 </b></li>
                                <li><b>A:</b> Answer 3</li>
                                <li><b>Q: Question 4 </b></li>
                                <li><b>A:</b> Answer 4</li>
                            </ul>
                        </div>
                    </accordion-group>
                    <accordion-group heading="News" [panelClass]="customClass">
                        <div class="card-body">
                            Comming soon...
                        </div>
                    </accordion-group>
                    <accordion-group heading="Offers">
                        <div class="card-body">
                            Comming soon...
                        </div>
                    </accordion-group>
                    <accordion-group heading="Capaign">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4"><img src="assets/img/campaign/1.jpg" alt="" class="img-fluid"></div>
                                <div class="col-md-8">
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>
<!-- collections end  -->

<!-- Clients section -->
<section class="bar bg-gray">
    <div class="container">
        <div class="heading text-center">
            <h2>Our Clients</h2>
        </div>
        <div class="customers">
        <carousel>
            <slide>
                <div  class="item">
                    <img src="assets/img/customer-1.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-2.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-3.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-4.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-5.png" alt="" class="img-fluid">
                </div>
            </slide>
            <slide class="item">
                <div  class="item">
                    <img src="assets/img/customer-6.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-1.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-2.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-3.png" alt="" class="img-fluid">
                    <img src="assets/img/customer-4.png" alt="" class="img-fluid">
                </div>
            </slide>
        </carousel>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Testimonial section -->
<section class="bar background-pentagon no-mb text-md-center">
    <div class="container">
        <div class="heading text-center">
        <h2>Testimonials</h2>
        </div>
        <p class="lead">Our client's and vendor's feedback</p>
        <!-- Carousel Start-->
        <div class="testimonials">
        <carousel>
            <slide>
                <div class="testimonial d-flex flex-wrap">
                    <div class="text">
                        <p>------Sample Testimonial------</p>
                        <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
                    </div>
                    <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                        <div class="icon"><i class="fa fa-quote-left"></i></div>
                        <div class="testimonial-info d-flex">
                        <div class="title">
                            <h5>Usman Shaikh</h5>
                            <p>CEO, UTechSolutions</p>
                        </div>
                        <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh6.jpg" class="img-fluid"></div>
                        </div>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial d-flex flex-wrap">
                <div class="text">
                        <p>------Sample Testimonial------</p>
                        <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
                </div>
                <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Usman Shaikh</h5>
                        <p>CEO, UTechSolutions</p>
                    </div>
                    <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh2.jpg" class="img-fluid"></div>
                    </div>
                </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial d-flex flex-wrap">
                <div class="text">
                        <p>------Sample Testimonial------</p>
                        <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
                </div>
                <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Usman Shaikh</h5>
                        <p>CEO, UTechSolutions</p>
                    </div>
                    <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh3.jpg" class="img-fluid"></div>
                    </div>
                </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial d-flex flex-wrap">
                <div class="text">
                        <p>------Sample Testimonial------</p>
                        <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
                </div>
                <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Usman Shaikh</h5>
                        <p>CEO, UTechSolutions</p>
                    </div>
                    <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh4.jpg" class="img-fluid"></div>
                    </div>
                </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial d-flex flex-wrap">
                <div class="text">
                    <p>------Sample Testimonial------</p>
                    <p>We have installed a modular OT by Almed Equipments, We are thankfull to their expertise and utilization of best technology for our OT installment. They are coorpareted us to build a environment which help to avoid the surgical sight infection. We are specially thankful to Mr. Zakir Shaikh for his effort and innovative idea.</p>
                </div>
                <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="testimonial-info d-flex">
                    <div class="title">
                        <h5>Usman Shaikh</h5>
                        <p>CEO, UTechSolutions</p>
                    </div>
                    <div class="avatar"><img alt="" src="assets/img/testimonials/ushaikh5.jpg" class="img-fluid"></div>
                    </div>
                </div>
                </div>
            </slide>
        </carousel>
        </div>
        <!-- Carousel End-->
    </div>
</section>
<!-- /.bar -->

<!-- Request for demo section -->
<section style="background: url(assets/img/fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
        <h3 class="text-uppercase">Do you want quotation?</h3>
        <p class="lead">You can ask for quote for installation and service for your hospital/organization.</p>
        <p class="text-center"><a href="#" class="btn btn-template-outlined-white btn-lg">Request for quote</a></p>
    </div>
</section>
<!-- /.bar -->