<section>
    <!-- *** HOMEPAGE CAROUSEL *** -->

    <div class="home-carousel">
        <div class="dark-mask"></div>

        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <p>
                                <img
                                    src="assets/img/logo.png"
                                    alt=""
                                >
                            </p>

                            <h1>Multipurpose responsive theme</h1>

                            <p>
                                Business. Corporate. Agency.

                                <br>
                                Portfolio. Blog. E-commerce.
                            </p>
                        </div>

                        <div class="col-sm-7">
                            <img
                                class="img-responsive"
                                src="assets/img/template-homepage.png"
                                alt=""
                            >
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-7 text-center">
                            <img
                                class="img-responsive"
                                src="assets/img/template-mac.png"
                                alt=""
                            >
                        </div>

                        <div class="col-sm-5">
                            <h2>
                                46 HTML pages full of features
                            </h2>

                            <ul class="list-style-none">
                                <li>Sliders and carousels</li>

                                <li>4 Header variations</li>

                                <li>
                                    Google maps, Forms, Megamenu, CSS3 Animations and much more
                                </li>

                                <li>
                                    + 11 extra pages showing template features
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-5 right">
                            <h1>Design</h1>

                            <ul class="list-style-none">
                                <li>Clean and elegant design</li>

                                <li>Full width and boxed mode</li>

                                <li>
                                    Easily readable Roboto font and awesome icons
                                </li>

                                <li>
                                    7 preprepared colour variations
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-7">
                            <img
                                class="img-responsive"
                                src="assets/img/template-easy-customize.png"
                                alt=""
                            >
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-sm-7">
                            <img
                                class="img-responsive"
                                src="assets/img/template-easy-code.png"
                                alt=""
                            >
                        </div>

                        <div class="col-sm-5">
                            <h1>Easy to customize</h1>

                            <ul class="list-style-none">
                                <li>
                                    7 preprepared colour variations.
                                </li>

                                <li>Easily to change fonts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.project owl-slider -->
        </div>
    </div>

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</section>
<!-- Product section -->
<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Our Inovative Products</h2>
            </div>
            <p class="lead">
                Browse the comprehensive range of medical equipment, surgical instruments & hospital products manufactured by Almed Equipment
                <span class="accent">Check our products!</span>
            </p>
            <!-- *** BLOG HOMEPAGE *** -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="assets/img/default.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="#" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">O3 Gen Magical Disinfectant</a>
                            </h4>
                            <p class="author-category">
                                Brand <a href="#">Almed Equipment</a>
                            </p>
                            <p class="intro">
                                Go for the unique solution to improve the quality of air inside operation theater, special rooms, hotel & resort etc.
                            </p>
                            <p class="read-more">
                                <a href="#" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="assets/img/default.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="#" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Surgeon Control Panel</a>
                            </h4>
                            <p class="author-category">
                                Brand <a href="#">Almed Equipment</a>
                            </p>
                            <p class="intro">
                               One of the most useful things for Operation theater, which can be build to control operation theater's activity. Its main feature is that it can be operated using android app from mobile device. 
                            </p>
                            <p class="read-more">
                                <a href="#" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="assets/img/default.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="#" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">PPS with air conditioning</a>
                            </h4>
                            <p class="author-category">
                                Brand <a href="#">Almed Equipment</a>
                            </p>
                            <p class="intro">
                                Main the positive pressure as per NABH.
                            </p>
                            <p class="read-more">
                                <a href="#" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="assets/img/default.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="#" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i>Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4>
                                <a href="#">Shoes Wrapper Machine</a>
                            </h4>
                            <p class="author-category">
                                Brand <a href="#">Almed Equipment</a>
                            </p>
                            <p class="intro">
                                Wrapp the shoes using machine, plastic wrapper are also available.
                            </p>
                            <p class="read-more">
                                <a href="#" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->
                </div>
            </div>
            <!-- /.row -->
            <!-- *** BLOG HOMEPAGE END *** -->
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->

<!-- Services -->
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Our Main Focus</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h3>Modular OT</h3>
                        <p>Supplier & Manufacturer of Operation Theatre Equipments & LED Operation Theatre Lights
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-print"></i>
                        </div>
                        <h3>Oxygen Genrator Plant</h3>
                        <p>
                            Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <h3>Epoxy Services</h3>
                        <p>
                            Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Analytical Data -->
<section class="bar background-pentagon no-mb">
    <div class="container">
      <div class="row showcase text-center">
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
            <h4><span class="h1 counter">580</span><br> Websites</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
            <h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
            <h4><span class="h1 counter">320</span><br>Projects</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="item">
            <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-font"></i></div>
            <h4><span class="h1 counter">923</span><br>Magazines and Brochures</h4>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- /.bar -->

<!-- Clients -->
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Our clients</h2>
                </div>

                <ul class="owl-carousel customers">
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="assets/img/customer-1.png" alt="" class="img-responsive">
                    </li>
                </ul>

                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Request to quote -->
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg">
                    <i class="fa fa-file-code-o"></i>
                </div>

                <h3 class="text-uppercase">Do you want to see more?</h3>

                <p class="lead">
                    We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.
                </p>

                <p class="text-center">
                    <a
                        href="index2.html"
                        class="btn btn-template-transparent-black btn-lg"
                    >Check other homepage</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->

<!-- Testimonial -->
<section class="bar background-pentagon no-mb text-md-center">
    <div class="container">
      <div class="heading text-center">
        <h2>Testimonials</h2>
      </div>
      <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p>
      <!-- Carousel Start-->
      <ul class="owl-carousel testimonials list-unstyled equal-height">
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-1.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-2.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
              <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-3.png" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-4.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="testimonial d-flex flex-wrap">
            <div class="text">
              <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
              <div class="icon"><i class="fa fa-quote-left"></i></div>
              <div class="testimonial-info d-flex">
                <div class="title">
                  <h5>John McIntyre</h5>
                  <p>CEO, TransTech</p>
                </div>
                <div class="avatar"><img alt="" src="assets/img/person-1.jpg" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Carousel End-->
    </div>
</section>
<!-- /.bar -->

<!-- GET IT-->
<div class="get-it">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 text-center p-3">
            <h3>Do you want cool website like this one?</h3>
        </div>
        <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4 class="h6">About Us</h4>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <hr>
          <h4 class="h6">Join Our Monthly Newsletter</h4>
          <form>
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
              </div>
            </div>
          </form>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <h4 class="h6">Blog</h4>
          <ul class="list-unstyled footer-blog-list">
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Blog post name</a></h5>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="image"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></div>
              <div class="text">
                <h5 class="mb-0"> <a href="post.html">Very very long blog post name</a></h5>
              </div>
            </li>
          </ul>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <h4 class="h6">Contact</h4>
          <p class="text-uppercase"><strong>Universal Ltd.</strong><br>13/25 New Avenue <br>Newtown upon River <br>45Y 73J <br>England <br><strong>Great Britain</strong></p><a href="contact.html" class="btn btn-template-main">Go to contact page</a>
          <hr class="d-block d-lg-none">
        </div>
        <div class="col-lg-3">
          <ul class="list-inline photo-stream">
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare3.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare2.jpg" alt="..." class="img-fluid"></a></li>
            <li class="list-inline-item"><a href="#"><img src="assets/img/detailsquare.jpg" alt="..." class="img-fluid"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center-md">
            <p>&copy; 2018. Your company / name goes here</p>
          </div>
          <div class="col-lg-8 text-right text-center-md">
            <p>Template design by <a href="https://bootstrapious.com/free-templates">Bootstrapious Templates </a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </div>
</footer>
